@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body, h1, h2, h3, h4, .v1 .v2{
	font-family: "Manrope", sans-serif;
	padding: 0;
	margin: 0;
	
}/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin: 12px 38px;

}

header > img{
	height: 80%;

}
.menu{
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: flex-end;
	 list-style: none;	
	 margin: 0;
	 padding: 0;
}
.menu > li {
	padding-left: 32px;

}

.section1{
	background-image: url("../images/landing.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    text-align: center;
}
div {
	margin: 0 25%;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

     /*center*/
}
h1{
	color: white;
	font-weight: 700;
	font-size: 4em;
	/*font-size: 64px;*/
}
h2{ 
	color: white;
	font-weight: 700;
	font-size: 2rem;
	/*font-size: 30px;*/
}

.black{ 
	color: #1A1A1A;
}


h3{
	color: white;
	font-weight: 700;	
	/*font-weight: bold;*/
	font-size: 1.5rem;
	/*font-size: 24px;*/
}

.green{
	color:  #00B172;
}

.regular{
	font-weight: 300;
}

h4{
	color: #1A1A1A;
	font-weight: 400;
	font-size: 1.25em;
	/*font-size: 20px;*/
}
p{
	color: white;
	font-weight: 400;
	font-size: 1.125em;
}

.section2{
	
}

.section3{
	background-color: #00B172;
}
.small{
	width: 20px;
	height: 20px;
}